/* General Styling */

/*::-webkit-scrollbar{
    width: 0.5em;
}
::-webkit-scrollbar-track{
    background-color: rgb(160, 160, 160)
}
::-webkit-scrollbar-thumb{
    background:rgb(246, 246, 246);
    border-radius: 20px;
    height: 5%;
}
    If you ever use this, place in html tag!- Molly
*/

.siteContainer{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.heading{
    background-color: rgb(220, 222, 218);
    padding: 3%;
    border: 1px solid ;
    border-color: rgb(212, 212, 212);
    height: 30px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.bodyOrg{
    padding: 3%;
    margin: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 3;
}

.sectionTwoText{
    color: rgb(133, 133, 133)
}

.footer{
    background-color: rgb(32, 32, 32);
    padding: 3%;
    height: 50px;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
}

.links{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: small;
    color: rgb(44, 44, 45);
}

.links02{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: small;
    color: rgb(131, 131, 134);
}

.body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    letter-spacing: .5;
    line-height: 1.25;
    font-size: small;
    color: rgb(75, 75, 77);

}

#artistBody{
    background-color: rgb(152, 191, 226);
}

#menuButton{
    float: right;
    
}

/* form */
.SubmitButton{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(79, 79, 79);
    color: whitesmoke;
    border-radius: 15px;
    border: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
}

.inputFields{
    border-radius: 10px;
    border: 1px solid rgb(180, 184, 188);
    padding: 3px;
}

.background{
    background-color: rgb(211, 215, 204);
}

/* Page Two */
/* Movement */
.sectionMotion{
    position: -webkit-sticky;
    position:sticky;
    top: 0;
}

/* Layout */
#sectionTwo{
    background-color: rgb(48, 49, 49);
    color: rgb(188, 189, 193);
    padding: 30;
    min-height: 100vh;
}

